/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: #101624;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Inconsolata Font */
@font-face {
  font-family: secondary-el;
  src: url(../assets/fonts/Inconsolata/Inconsolata-ExtraLight.ttf);
}
.secondary-el {
  font-family: secondary-el;
}
@font-face {
  font-family: secondary-l;
  src: url(../assets/fonts/Inconsolata/Inconsolata-Light.ttf);
}
.secondary-l {
  font-family: secondary-l;
}
@font-face {
  font-family: secondary-m;
  src: url(../assets/fonts/Inconsolata/Inconsolata-Medium.ttf);
}
.secondary-m {
  font-family: secondary-m;
}
@font-face {
  font-family: secondary-b;
  src: url(../assets/fonts/Inconsolata/Inconsolata-Bold.ttf);
}
.secondary-b {
  font-family: secondary-b;
}

/* Roboto Font */
@font-face {
  font-family: primary-l;
  src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}
.primary-l {
  font-family: primary-l;
}
@font-face {
  font-family: primary-r;
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}
.primary-r {
  font-family: primary-r;
}
@font-face {
  font-family: primary-b;
  src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
}
.primary-b {
  font-family: primary-b;
}

/* Globale Styling */
.primary {
  color: #ffb800;
}

.normal {
  color: #ffffff;
}

.accent {
  color: #c6c8cd;
}

.heading-dot {
  color: #ffb800;
  font-family: secondary-b;
  font-size: 30px;
}

.f15 {
  font-size: 15px;
}
.f20 {
  font-size: 20px;
}
.f30 {
  font-size: 30px;
}
.f40 {
  font-size: 40px;
}
.f45 {
  font-size: 45px;
}
.f60 {
  font-size: 60px;
}

.cta {
  color: #ffb800;
  border: 0.5px solid #ffb800;
  border-radius: 3px;
  padding: 10px 20px;
  background-color: transparent;
  transition: all 0.4s;
}
.cta:hover {
  transition: all 0.4s;
  background-color: #ffb70018;
  box-shadow: inset 0 0 5px #ffb800, 2px 2px 5px #ffb800;
}

.lh-n {
  line-height: normal;
}

.center {
  text-align: center;
}

.content-container {
  margin: 300px 100px;
}

@media screen and (max-width: 600px) {
  .f15 {
    font-size: 15px;
  }
  .f20 {
    font-size: 18px;
    line-height: 140%;
  }
  .f30 {
    font-size: 22px;
  }
  .f40 {
    font-size: 28px;
  }
  .f45 {
    font-size: 33px;
  }
  .f60 {
    font-size: 30px;
    line-height: 140%;
  }

  .mobile-text {
    text-align: left;
  }

  .content-container {
    margin: auto;
    width: 100%;
    padding: 5px;
  }

  .cta {
    padding: 10px 20px;
    margin: auto;
  }
}
